body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
 
    
}

h1{
    font-size: 50px;
}

section{

    display: flex;
    
    margin: 0 60px;

}
.color{

    color: #ff9f43;
    

}

.half_wide{
   
    width: 50%;
   
}
#half_wide_id{
    margin-top:120px;

}
.half_wide img{
    width: 90%;
}
.line_space{
    line-height:20px;
    color: rgb(107, 104, 104);
  
}
.details{
    color: rgba(143, 133, 133, 0.822);
    text-align: justify;
    font-weight: 100;
    padding-right: 60px;
    font-weight: 100;
   

}
.button{
    background-image: linear-gradient(#ff9f43,#e74c3c);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;

}
.backround{

    background-repeat: no-repeat;
    background-image: url(shapes/7.png);
    background-position: center;
    padding: 0;
    margin: 0;
}

#about_me{
    color: rgb(85, 79, 79);
    
}



#main_content{

    height:30%;
    width: 30%;
    margin-left: 15%;
    margin-top: 10%;

}

#about_details{
 
    margin-top: 10%;
    padding: 30px; 
    margin-left: 200px;

}


#my_recipies{
    text-align: center;
    color: rgba(0, 0, 0, 0.822);

}
.recipies_details{
    color: rgba(0, 0, 0, 0.822);
    font-weight:100;
    text-align: justify;
    padding: 0px 250px 5px 250px;
    
}
.food_design{
    
    border-radius: 30px ;
    box-shadow:5px 8px 50px gray;
    margin: 40px 40px 40px 40px;
    padding: 18px 18px 18px 18px;
    color: rgba(0, 0, 0, 0.822);
  

}
.recipies_title{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fan_power{
    /* margin-top: 90px; */
    border-radius: 30px ;
    box-shadow:5px 8px 50px gray;
    padding-left: 15%;
    margin: 8% 8%;
    
}
footer{
    color: hsla(30, 2%, 43%, 0.685);
    margin-top: 30px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    padding-bottom: 100px;
    
}
#footr_id{
    color: rgb(255, 255, 255);
}